@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./framework/bootstrap";
@import "./components/card";
@import "./framework/megamenu";
@import "./components/image";
@import "./components/section";
// @import "../icons/style.css";
@import "../scss/abstracts/base";
@import "./abstracts/mixins";
@import "./abstracts/utilities";
@import "./abstracts/typography";
@import "./layout/section";
@import "./layout/header";
@import "./layout/footer";
@import "./components/megalist";

.sec-title-wrapper {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  
  .sec-title-wrapper:after {
    content: "";
    display: block;
    text-align: left;
    width: 70px;
    position: absolute;
    bottom: -2px;
    border-bottom: 3px solid #56b237;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

.menu-profile-active
{
  border-right: 3px solid #56b237;
}


.invoice {
  &-nav {
    margin-bottom: 30px;
    .media-wrapper {
      @include media-wrapper(150px, 45px, contain);
    }
    h1 {
      color: $primary;
      @include typography(2rem, 500, 120%);
    }
  }

  &-info {
    margin-bottom: 25px;
    h2 {
      @include typography(1rem, 400, 150%);
      color: $grey;
    }
    p {
      @include typography(1rem, 400, 180%);
    }
    h3 {
      @include typography(1rem, 400, 150%);
      color: $grey;
    }
  }

  &-form {
    margin-bottom: 50px;
    tr {
      border-bottom: 1px solid $secondary;
    }

    th {
      @include typography(1.125rem, 400, 150%);
      color: $grey;
    }
    td {
      padding: 15px;
      font-size: 1rem;
      font-weight: 300;
      line-height: 150%;
      color: $grey;
    }
    td:nth-child(1) {
      color: $secondary;
      font-weight: 500 !important;
    }
  }

  &-result {
    margin-bottom: 40px;
    &-content {
      min-width: 280px;
      h6 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
        color: $grey-100 !important;
      }
      .total {
        h6 {
          font-weight: 600 !important;
        }
        p {
          font-weight: 600 !important;
        }
      }
    }
  }

  &-billing {
    margin-bottom: 40px;
    h4 {
      @include typography(1.125rem, 700, 150%);
      color: $grey-100;
    }
    p {
      @include typography(1rem, 500, 180%);
      color: $grey;
      margin: 5px 0;
    }
  }

  &-message{
    @include typography(1.5rem, 500, 150%);
    color: $grey;
  }
}