.card {
    &-event {
        .media-wrapper {
            p {
                position: absolute;
            }
        }
        @include media-breakpoint-up(lg) {
        }
    }

    &-product {
        margin-bottom: 20px;
        padding: 10px;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        position: relative;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
        .content {
            .pname {
                word-wrap: break-word;
                word-break: break-all;
                line-height: 1.8em;
            }
        }

        &:hover {
            .media-wrapper {
                img {
                    opacity: 0.7;
                    transform: scale(1.2);
                }
            }
            // .content {
            //     display: none !important;
            // }

            .buy {
                visibility: visible;
                opacity: 1 !important;
            }
        }

        .media-wrapper {
            @include media_wrapper(100%, 239px, contain);
            transition: 1s all ease-out;
            img {
                border-radius: 8px;
                transition: transform 0.2s;
            }
        }
        .buy {
            a {
                font-size: 0.8rem;
                z-index: 999999;
            }
        }

        .rating {
            i {
                color: $primary;
            }
        }
        @media (min-width: 780px) {
            .buy {
                margin-top: 10px;
                padding: 0 10px;
                position: absolute;
                z-index: 9999;
                bottom: -100px;
                a {
                    color: $white !important;
                }
                visibility: hidden;
                .fa-tag {
                    transform: scaleX(-1) !important;
                }
                transition: visibility 0s, opacity 0.5s linear;
                opacity: 0;
            }
        }

        .ribbon {
            width: 100px;
            height: 100px;
            overflow: hidden;
            position: absolute;
        }
        .ribbon::before,
        .ribbon::after {
            position: absolute;
            z-index: -1;
            content: "";
            display: block;
            border: 5px solid #ca1414;
        }
        .ribbon span {
            position: absolute;
            display: block;
            width: 180px;
            padding: 5px 5px 5px 0;
            background-color: $secondary;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            color: #fff;
            font: 400 18px/1 "Inter", sans-serif;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            text-transform: uppercase;
            text-align: center;
        }

        .ribbon-top-right {
            top: -10px;
            right: -10px;
        }
        .ribbon-top-right::before,
        .ribbon-top-right::after {
            border-top-color: transparent;
            border-right-color: transparent;
        }
        .ribbon-top-right::before {
            top: 0;
            left: 0;
        }
        .ribbon-top-right::after {
            bottom: 0;
            right: 0;
        }
        .ribbon-top-right span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }

        .price {
            color: #ff0202;
            @include typography(1rem, 500, 130%);
        }

        .increment {
            button {
                margin: 0 auto;
                text-align: center;
                width: 30px;
                height: 30px;
                color: #ffffff;
                background: #007c00;
            }
        }
    }

    &-category {
        .media-wrapper {
            border-radius: 8px;
            width: 80px;
            height: 80px !important;
            overflow: hidden;
        }
    }

    &-cart {
        .select {
            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
        }
        .form-check-input[type="checkbox"] {
            padding: 20px;
        }
        .delete {
            font-weight: 500;
            color: #696969;
            line-height: 120%;
            font-size: 1.125rem;
        }

        .media-wrapper {
            @include media-wrapper(100%, 150px, cover);
            img {
                border-radius: 8px;
            }
        }
        .increment {
            input[type="button"] {
                border-radius: 4px;
                background-color: $primary;
                color: $white;
                border: 0;
                padding: 5px 15px;
            }
            input[type="number"] {
                border-radius: 4px;
                width: 100px;
                padding: 4px 2px;
                border: 1px solid $secondary;
                text-align: center;
            }
        }
    }
}

.coupons {
    input {
        border-top-left-radius: 24px !important;
        border-bottom-left-radius: 24px !important;
        border: 2px solid green;
    }
    button {
        border-top-right-radius: 24px !important;
        border-bottom-right-radius: 24px !important;
        padding: 0.5rem 1rem;
    }
}
