.category-shop {
  margin-top: 1rem;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
  }
}
