@media (max-width: 777px) {
    .hidden {
        display: none !important;
    }
}
.menu-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
.menu {
    width: 150px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    padding: 0 0 0 4px;
    margin: 0;
}

.hero-list h6 {
    font-size: 1.125rem;
    font-weight: 600 !important;
}

.megadrop .navbar-nav {
    position: relative;
}

.navbar-nav > li > .submegadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 180px;
    width: 400px;
    min-height: 100%;
    text-align: left;
    margin-top: 30px;
    padding: 0;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #227087;
    border-right: 2px solid #227087;
    border-bottom: 2px solid #227087;
}

.menu a,
.menu a:link,
.menu a:visited,
.menu a:focus,
span {
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    padding: 10px 0;
}

.menu a:hover {
    color: #227087;
    text-decoration: none;
}
.menu > li {
    display: block;
    text-align: center;
    margin-left: -4px;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
}
.menu > li > a {
    // padding: 20px 18px;
    display: block;
}
.menu > li:hover > a {
    color: #227087;
}
.menu > li:hover {
    background-color: #fff;
}
/* Megadrop width dropdown */
.menu > li > .megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 153px;
    width: 800px;
    min-height: 100%;
    text-align: left;
    margin-top: 30px;
    padding: 0;
    z-index: 999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.menu > li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.menu ul li:hover:after {
    color: #227087;
}
.menu .col {
    width: 14.1%;
    float: left;
    color: white;
    margin: 0 0 0 2.2%;
}
.menu .col ul {
    padding: 0;
    margin: 0;
}
.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.menu .col h3 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #227087;
    background: #eee;
}
.menu .col ul li a {
    display: block;
    padding: 0 0 15px 0;
    color: #227087;
}
.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}
.menu > li > ul li ul,
.menu li > ul li,
.menu > li > .megadrop,
.menu > li > ul,
.menu > li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}

.navbar-nav:hover .submegadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
    z-index: 99999;
}

.megadrop .nav-item {
    padding: 0 !important;
    a {
        padding: 10px 10px;
    }
}
